<!DOCTYPE html>
<html lang="pt-BR">
    <%- include("./partials/head")%>
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/cart.css" />
  <!-- HEAD -->
  <%- include('./partials/head'); %>

  <body>
    <!-- HEADER -->
    <%- include('./partials/header'); %>
    <!-- MAIN CONTENT -->
    <main id="cart-main-container">
       <% if (products.length > 0) { %>
    <ul class="cart__item-list">
      <% products.forEach(p => { %>
      <li class="cart__item">
        <h1><%= p.productId.title %></h1>
        <h2>quantidade: <%= p.quantity %></h2>
        <form action="/cart-delete-item" method="POST">
          <input type="hidden" value="<%= p.productId._id %>" name="productId">
          <button class="btn danger" type="submit">Apagar</button>
        </form>
      </li>
      <% }) %>
    </ul>
    <hr>
    <div class="centered">
      <form action="/create-order" method="POST">
        <button type="submit" class="btn">Comprar</button>
      </form>
    </div>
    <% } else { %>
    <h1>Nenhum Produto no Carrinho</h1>
    <% } %>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer'); %>
  </body>