<div class="conteiner-cards">
    <% product.forEach(products => {%> 
        <div class="cards">
            <img src="/uploads/<%=products.image%>" class="product-image" alt="<%= products.name %>">
            <div class="card-details">
                <h2 class="cardName"><%= products.name%></h2>
                <h5 class="cardDiscount"><%= products.description %></h5>
                <h3 class="cardPrice">R$ <%= products.unit_price %></h3>
                <button class="cardBuy">Comprar</button>
            </div>
        </div>
    <% }) %>
</div>

