<!DOCTYPE html>
<html lang="pt-BR">

<%- include("../partials/head")%>
<link rel="stylesheet" href="/css/global.css" />
<link rel="stylesheet" href="/css/panel.css" />

<body>
  <!--header-->
  <%- include("../partials/header") %>
  <!--header-fim-->
<main>
  <div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5"> 
              <% if(typeof error != 'undefined'){%>
                <h4><%= error %></h4>
                <% } %>

                <form action="/salvar-edicao-produto/<% product._id %> " method="post" enctype="multipart/form-data">
                  
                  <label>Nome do produto:</label><br>
                  <input class="mb-3 fs-2" type="text" name="name" placeholder="Ex:.Telefone" value="<%= product.name %> " required />
                  <br>
                          
                  <label>Preço:</label><br>
                  <input class="mb-3 fs-2" type="text" name="unit_price" placeholder="Ex:.20" value="<%= product.unit_price %> " required/>
                  <br>
                  <label>Preço em offerta:</label><br>
                  <input class="mb-3 fs-2" type="text" name="offer_price" placeholder="Ex:.20"
                  value=" <%= product.offer_price %> " required/>
                  <br>
          
                  <label>Descrição</label><br>
                  <input class="mb-3 fs-2" type="text" name="description" placeholder="EX:. Motorolla e23"/>
                  <br>
          
                  <label for="formFile" class="form-label">Imagem do produto:</label><br>
                  <input class="form-control" id="formFile" type="file" name="image" />
                  <img src="/<%= product. image %> " width="100%" class ="img-thumbnail">
                  <input type="hidden" name="old_image" value="<%= user.image %> " class="type">
                  <br>
          
                  <button class="btn btn-primary fs-2" type="submit">Atualizar</button>
              </form>
                
               
            </div>
        </div>
    </div>
 </div>
</main>
  

<div class="footerBox"></div>
<!--footer-->
<%- include("../partials/footer") %>
<!--footer-fim-->
</div>

</body>

</html>